body, html {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  height: 100%
}

div.left, div.right {
  height: 100%;
  padding: 0;

  div.title {
    height: 10%;
    background-color: #34495e;

    h3 {
      text-align: center;
    }
  }
}

div.left {
  background-color: #3498db;
}

div.right {
  background-color: #2ecc71;
}

