$tab_color: #3c3c3c;
$background: #252526;
$font: #fff;
$headerHeight: 5vw;
$footerHeight: 5vw;

body, html {
  font-family: 'Open Sans', sans-serif;
  color: $font;
  height: 100%;
  overflow: hidden;
  background-color: $background;
}

.navbar {
  background-color: #333;
}

.custom-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 15px;

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {
    padding: 0 8px;
    
    .btn {
      height: 16px;
      line-height: 14px;
      font-size: 8px;
      padding: 0px 12px;
    }
  }
}

.full-container {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.header {
  height: $headerHeight;
  line-height: $headerHeight;
  background-color: #3c3c3c;

  .title {
    font-size: 2vw; 

    a {
      color: $font;
      text-decoration: none;
    }   
  }
}

.content-container {
  height: 74vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

span.price {
  text-align: center;
  font-size: 1.6vw;
}

sub.change {
  font-size: 1vw;
}

div.content {
  height: 20%;
  line-height: 8;
}

span.coin-name {
  font-size: 2vw;
  vertical-align: middle;
}

img.icon {
  width: 2vw;
  height: 2vw;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: $footerHeight;
  line-height: $footerHeight;
  background-color: $tab_color;
  padding: 0;

  .online-user {
    text-align: right;
  }

  .col {
    line-height: 6vw;
  }

  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) {
      .row {
        padding: 0 4px;
      }

      .col-4 {
        padding: 0;
        line-height: 4vw;
      }

      .btn-donate, 
      .btn-contact-us,
      .btn-currency {
        padding: 0 !important;
        width: 50px;
        height: 12px !important;
        line-height: 10px !important;
      }

      .btn-currency {
        width: 30px;
      }
  }
}

.header, .content-row {
  .col {
    width: calc((100% - 30px)/7);
  }
}

.header, .content-row, .footer {
  padding: 0 15px;
  .col {
    padding: 0 6px;
  }

  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) {
      .col {
        padding: 0 2px;
      }
  }
}

span.online {
  text-align: right;
  font-size: 2vw;
}

.content-row {
  height: 5vw;
  line-height: 5vw;

  .col {
    vertical-align: middle;
  }

  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) {
    height: 8vw;  
  }
}

// Footer button
.btn-container {
  text-align: center;
  
  .btn {
    margin: 4px;
  }

  .btn-xs {
    font-weight: 300;
  }
   
  .btn-hot {
    color: #fff;
    background-color: #db5566;
    border-bottom:2px solid #af4451;
  }

  .btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
    color: #fff;
    background-color: #df6a78;
    border-bottom:2px solid #b25560;
    outline: none;
  }


  .btn-hot:active, .btn-hot.active {
    color: #fff;
    background-color: #c04b59;
    border-top:2px solid #9a3c47;
    margin-top: 2px;
  }

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus {
    outline: none;
    outline-offset: 0px;
  }
}

div.modal {
  color: $background;
}

// Percent
.plus {
  color: #00B16A;
  &:after {
    font-size: 0.8vw;
    content: ' ▲';
  }
}

.minus {
  color: #c0392b;
  &:after {
    font-size: 0.8vw;
    content: ' ▼';
  }
}

.form-plus {
  color: #049372;
}

.form-minus {
  color: #c0392b;
}

// Donate Page
div#donation-board {
  color: $background;
  padding: 2vh 2vw;
  overflow-y: auto;
  
  h2 {
    color: $font;
    margin: 2vh auto;
    text-align: center;
    &:after {
      content: ' ❤️';
    }
  }

  .donate-btn-group {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .card {
    margin-bottom: 4vh; 

    .card-header, .card-block {
      text-align: center;
    }

    .card-block {
      padding-top: 1vh; 
      padding-bottom: 1vh; 
    }

    img.icon {
      width: 20px;
      height: 20px;
      vertical-align: sub;
    }
  }

  // Paypal button
  .paypal-btn {
    background-color: #FBC049;
    color: #09314F;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
    &:hover {
      background-color: #E9D460;
      color: #09314F;
    }
  }

  // True wallet button
  .true-wallet-btn {
    background-color: #f78604;
    color: $font;
    margin-bottom: 10px;
    &:hover {
      background-color: #ff9900;
      color: $font;
    }
  }
}

// Arbitrage Page
div#arbitrage-board {
  color: $font;
  padding: 2vh 2vw;
  overflow-y: auto;
  padding-bottom: 10vh;

  .title {
    text-align: center;

    h2 {
      margin-top: 2vh;
    }
  }

  img.icon {
    width: 36px;
    height: 36px;
    vertical-align: sub;
  }
}

// Calulator Page
div#calculator-board {
  .card {
    color: $background;
    margin-bottom: 4vh; 

    .card-header, .card-block {
      text-align: center;
    }

    .card-block {
      padding-top: 2vh; 
      padding-bottom: 2vh; 
    }

    img.icon {
      width: 20px;
      height: 20px;
      vertical-align: sub;
    }
  }

  .compare-chart {
    margin-top: 1.6vh; 
  }

  .buy-price,
  .amount,
  .exchange-name-container, 
  .percent-container,
  .profit-container {
    text-align: right;
  }

  .unit-container {
    width: 60px;
  }

  .order-container {
    width: 60px;
  }

  .exchange-name-container {
    width: 220px;
  }

  .abt-price-container {
    margin-top: 1vh;

    .exchange-row {
      .order-container {
        border-radius: 5px 0 0 0;
      } 
      
      .percent-container {
        border-radius: 0 5px 0 0;
      }
    }
    
    .profit-row {
      .input-group-addon, .form-control {
        border-top: 0;
      }

      .input-group-addon {
        &:first-child {
          border-top-left-radius: 0;
        }
        &:last-child {
          border-top-right-radius: 0;
        }
      }
    }
  }

  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) {
    .order-container {
      width: 54px;
    }
  
    .exchange-name-container {
      width: 120px;
    }
  }
}

// Contact Page
div#contact-board {
  color: $background;
  padding: 2vh 2vw;
  overflow-y: auto;
  
  h2 {
    color: $font;
    margin: 2vh auto;
    text-align: center;
  }

  .row {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
}