$tab_color: #3c3c3c;
$background: #252526;
$font: #fff;

body, html {
  font-family: 'Open Sans', sans-serif;
  color: $font;
  height: 100%;
  overflow: hidden;
  background-color: $background;
}

.custom-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px 15px;
}

.header {
  height: 6vw;
  background-color: #3c3c3c;

  .title {
    font-size: 2vw;    
  }
}

span.price {
  text-align: center;
  font-size: 2vw;
}

div.content {
  height: 20%;
  line-height: 8;
}

span.coin-name {
  font-size: 2vw;
}

img.icon {
  width: 2vw;
  height: 2vw;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 6vw;
  background-color: $tab_color;
  line-height: 6vw;
  padding: 0;

  .online-user {
    text-align: right;
  }

  .col {
    line-height: 6vw;
  }

  @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) {
      .col {
        line-height: 4vw;
      }
  }
}

span.online {
  text-align: right;
  font-size: 2vw;
}

.content-row {
  height: 10vw;

  .col {
    line-height: 10vw;
    padding: 0px 6px;
    vertical-align: middle;
  }
}